server:
  port: 10086
spring:
  application:
    name: leyou-registry
eureka:
  client:
    service-url:
      defaultZone: http://localhost:10086/eureka
    register-with-eureka: false # 把自己注册到eureka服务列表
    fetch-registry: false  # 拉取eureka服务信息

  server:
    enable-self-preservation: false
    eviction-interval-timer-in-ms: 10000

ribbon:
  eureka:
    enabled: true